html,body {
	height: 100%;
}

body {
	text-align: center;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.jumbotron {
	background: url("../images/guitar.jpg") no-repeat center center;
	background-size: cover;
	margin: 0;
}

.vertical-center {
	display: flex;
	align-items: center;
	height: 100%;
}

.content {
	height: 100%;
	min-height: 100%;
}

#guessRemain {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
	color: #993333;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
	letter-spacing: 2px;
}

#letters {
	margin-top: 60px;
	margin-bottom: 60px;
}

.letterBox {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 3em;
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#badGuesses {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
	color: #993333;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
	letter-spacing: 2px;
	margin-bottom: 50px;
}

#win, #lose {
	position: absolute;
	top: 40px;

	height: 80px;
	width: 100%;

	font-size: 2em;
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.footer {
	background-color: #993333;
	height: 60px;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer li {
	display: inline-block;
	margin-right: 60px;

	color: #fff;
}