body {
	font-family: Helvetica, sans-serif;
	font-size: 5em;
}

.hidden {
	margin: 2px;
	visibility: hidden;
}

.letterBorder {
	margin: 2px;
	display: inline-block;
	height: 80px;
	width: 80px;
	border-bottom: 4px solid blue;
}

.revealed {
	text-align: center;
	margin: 2px;
	display: inline-block;
	color: white;
	height: 80px;
	width: 80px;
	background-color: blue;
}

#reset {

}